* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.phan1{
    width: 60%;
    background-color: #e8fefe;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.weather-app{
    padding: 30px;
    background-color: #68A0F3;
    display: flex;
}

.menu{
    display: flex;
    padding: 20px 0px;
}
.weather-heading {
    font-weight: normal;
}
  
.forecast-heading {
    font-weight: bold;
}
  
.phan1 .menu .menu1 input[type="search"] {
    flex: 1;
    width: 250px;
    height: 30px;
    padding: 20px;
    border: 0px;
}
.phan1 .menu .menu2 .places-child li a {
    display: inline-block;
    padding: 5px 20px;
    margin-right: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

ul.places{
    list-style-type: none;
    position: relative;
    padding: 5px 30px;
}

ul.places a{
    text-decoration: none;
}

.places-child {
    display: none;
    position: absolute;
    list-style-type: none;
}

li:hover .places-child {
    display: block;
    color: red;
    background-color: rgb(203, 255, 255);
}

.forecast{
    width: 100%;
}

.forecast-img{
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.img-child{
    width: 25%;
    border-radius: 5%;
    padding-right: 25px;
}

.img-child img{
    width: 100%;
    border-radius: 5%;
}

.img-child p{
    text-align: center;
}

.img-child-differ{
    width: 167px;
    height: 222px;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 5%;
    padding-right: 25px;
}

.img-child-differ .content {
    text-align: center;
    margin-top: 60%;
    margin-right: -15%;
    color: blue;
}

.img-child:hover {
    width: 30%;
}

.progress-bar {
    height: 5px;
    width: 200px;
    background-color: gray;
    position: relative;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}
  
.progress-bar::before {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-color: orange;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */ 
}

.bar{
    border-radius: 5px;
    overflow: hidden;
}

.fa-cloud-sun-rain {
    color: #3472db;
}

.fa-cloud-rain{
    color: #3472db;
}

.fa-cloud-showers-heavy{
    color: #3472db;
}

.fa-sun{
    color: rgb(236, 217, 4);
}

.menu-weather-main{
    width: 300px;
    height: 150px;
    background-color: rgb(241, 241, 253);
    color: #0a0265;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1;
    left: 30px;
}
.menu-weather{
    width: 20%;
    height: 70%;
    border-radius: 30px;
    border: 2px solid #b2ade8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
}

.menu-weather-child{
    margin-top: 7px;
}

th {
    position: relative;
}

th:hover .menu-weather-main{
    display: block;
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
}

.menu-weather:hover{
    margin-top: -20px;
    box-shadow: 0px 5px 5px 5px #08043969;
    background-color: #2d2676;
    color: white;  
}
.menu-weather:hover i{
    color: white;
    border-radius: 50%;
    background-color: #080439;
    width: 30px;
    height: 30px;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-table {
    display: flex;
    /* flex-wrap: nowrap;
    justify-content: space-between; */
    justify-content: flex-start;
}
.table{
    margin-top: 100px;
    color: rgb(116, 141, 252);
    margin-right: 50px;
}
th::first-line{
    color: #0a0265;
}
table{
    width: 100%;
}
.phan2{
    width: 40%;
    background-color: #080439;
    color: white;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-infor-head{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.img-infor-head img{
    width: 50px;
    border: 5px;
    overflow: hidden;

}
.infor-head div{
    width: 30%;
    color: white;
}
.infor-head{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}
.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1;
}
.infor-weather{
    margin-top: 50px;
}

.infor-weather-child{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0px 10px;
}

.infor-weather-deg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.infor-weather-icon{
    padding-right: 10px;
    font-size: 20px;
}
.infor-weather-deg-child1{
    display: flex;
    font-size: 40px;
}

.infor-weather-deg-child1 span{
    margin-top: 15px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    padding: 10px;
    margin-top: 100px;
    justify-content: space-evenly;
}
  
.bar1 {
    width: 10px;
    margin: 0 10px;
    background-color: #d4ebf942;
    transition: height 0.3s ease;
    border-radius: 5px;
    
}
.bar1 span{
    position: absolute;
    bottom: -1px;
    text-align: center;
    margin-left: -12px;
}
.weatherbar p{
    margin: 23px 0px 0px 0px;
}

.tenAM {
    height: 80%;
}

.tewAM {
    height: 60%;
}

.twoPM {
    height: 40%;
}

.fourPM {
    height: 50%;
}

.sixPM {
    height: 50%;
}

.eightPM {
    height: 50%;
}

